In [280]:
######### for this program to give accurate results, combined_df has to be run again if any code/name changes are there or
########## including any additions
########## companymaster has to be uptodate
######### shortlisted stocks - averages for nse/bse has to be updated
######## market cap from screener has to be updated

In [281]:
# importing the required modules

import os
import csv
import pandas as pd
from pathlib import Path
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Table, Paragraph, PageBreak
from reportlab.lib import colors
from reportlab.lib.styles import getSampleStyleSheet, TA_LEFT

from platform import python_version
python_version()

'3.7.6'

In [282]:
### this program gives top 50 deliveries by value and volume for fno and non-fno. 
#### it also creates fno_csv and non_fno_csv which is used by multiple scrips program

### caution - if data file is already read, then it skips reading it. So if data is updated, close the program and restart it
#### to enable data file to be read again

In [283]:
base_folder = Path.cwd()
base_folder

WindowsPath('C:/Users/User/Dropbox/SQL Stock Market Data/Python Code from ChatGPT')

In [284]:
# list of file paths

master_file_path = Path.joinpath(base_folder, "Master File", "CompanyMaster.csv")
directory = Path.joinpath(Path(base_folder).parents[0], "Data Files")
output_path = Path.joinpath(base_folder, "Output File")
combined_file_path = Path.joinpath(Path(base_folder).parents[0], "Delivery Price Combined Files")
reports_path = Path.joinpath(base_folder,"PDF Reports")

column_order = ['NSE_Code','BSE_Code','Date','NSE_Delivery','BSE_Delivery']
print(reports_path)

C:\Users\User\Dropbox\SQL Stock Market Data\Python Code from ChatGPT\PDF Reports

In [285]:
file_names = ['BSE Gross Deliverable.txt', 'NSE Delivery.csv', 'NSE EQ.csv', 'EQ ISIN.csv']

while True:
    user_input = input("Enter a date in the 'yymmdd' format (or press Enter to exit): ")

    # Check if the user pressed Enter with an empty input
    if not user_input:
        print("Exiting the program.")
        break

    # Check if the input has 6 characters and consists of digits
    if len(user_input) == 6 and user_input.isdigit():
        all_files_exist = True
        updated_file_names = []

        for file_name in file_names:
            name, extension = file_name.split(".")
            print(name, extension)
            full_file_name = os.path.join(directory, f"{name} {user_input}.{extension}")
            file_name_date = f"{name} {user_input}.{extension}"
            print(f"full file name : {full_file_name} and file_name_date : {file_name_date}")
            if not os.path.exists(full_file_name):
                print()
                all_files_exist = False
                break
            updated_file_names.append(file_name_date)

        if all_files_exist:
            print(f"All required files for the date '{user_input}' exist.")
            # You can use the updated_file_names list for further processing
            print("Updated file names:", updated_file_names)
            break  # Exit the loop if all files exist
        else:
            print("Not all required files exist. Please check the files.")
    else:
        print("Invalid input. Please enter a date in the 'yymmdd' format (e.g., 220101).")

Enter a date in the 'yymmdd' format (or press Enter to exit): 231222
BSE Gross Deliverable txt
full file name : C:\Users\User\Dropbox\SQL Stock Market Data\Data Files\BSE Gross Deliverable 231222.txt and file_name_date : BSE Gross Deliverable 231222.txt
NSE Delivery csv
full file name : C:\Users\User\Dropbox\SQL Stock Market Data\Data Files\NSE Delivery 231222.csv and file_name_date : NSE Delivery 231222.csv
NSE EQ csv
full file name : C:\Users\User\Dropbox\SQL Stock Market Data\Data Files\NSE EQ 231222.csv and file_name_date : NSE EQ 231222.csv
EQ ISIN csv
full file name : C:\Users\User\Dropbox\SQL Stock Market Data\Data Files\EQ ISIN 231222.csv and file_name_date : EQ ISIN 231222.csv
All required files for the date '231222' exist.
Updated file names: ['BSE Gross Deliverable 231222.txt', 'NSE Delivery 231222.csv', 'NSE EQ 231222.csv', 'EQ ISIN 231222.csv']

In [286]:
nse_dely_file = [updated_file_names[1]]
nse_price_file = [updated_file_names[2]]
bse_dely_file = [updated_file_names[0]]
bse_price_file = [updated_file_names[3]]
print(nse_dely_file,nse_price_file,bse_dely_file,bse_price_file)

['NSE Delivery 231222.csv'] ['NSE EQ 231222.csv'] ['BSE Gross Deliverable 231222.txt'] ['EQ ISIN 231222.csv']

In [287]:
def nse_data(nse_file_name):
    nse_df = pd.DataFrame(columns=['NSE_Code','Date','NSE_Volume','NSE_Delivery','Segment'])
    dely_segment = ['EQ','BE','SM','ST']
    
    for file_name in nse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[13:19]
        
        with open(file_path,'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 5:
                    line_str = ','.join(line)
                    data = line_str.split(',')
                    if data[3] in dely_segment:
                        nse_code = data[2]
                        dely = data[5]
                        segment = data[3]
                        volume = data[4]
                        df_to_append = pd.DataFrame({'NSE_Code': [nse_code], 'Date': [date], 'NSE_Volume':volume,
                                                     'NSE_Delivery': [dely], 'Segment': [segment]})
                        nse_df = pd.concat([nse_df, df_to_append], ignore_index=True)
    return nse_df
                
 
def bse_data(bse_file_name):
    # Create an empty DataFrame to store the results
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date','BSE_Delivery'])
    dely_segment = ['EQ','BE','SM','ST']

    for file_name in bse_file_name:
        file_path = os.path.join(directory, file_name)
        date = file_name[22:28] 
    
        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for i, line in enumerate(reader, start=1):
                if i >= 2:  # Start reading from line 5
                    line_str = ','.join(line)
                    data = line_str.split('|')
                    dely = data[2]
                    bse_code = data[1]
                    df_to_append = pd.DataFrame({'BSE_Code': [bse_code], 'Date': [date], 'BSE_Delivery':[dely]}) 
                    bse_df = pd.concat([bse_df,df_to_append], ignore_index=True)               
    return bse_df

In [288]:
def nse_price(nse_price_file):
    nse_df = pd.DataFrame(columns=['NSE_Code', 'Date', 'Price', 'PrevClose', 'Segment', 'Traded'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in nse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[7:13]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                if row and row[1] in dely_segment:  # Check if the row is not empty and segment matches
                    nse_code = row[0]
                    price = row[5]
                    prev_close = row[7]
                    segment = row[1]
                    traded = row[8]
                    df_to_append = pd.DataFrame({'NSE_Code': [nse_code], 'Date': [date], 'Price': [price], 
                                                 'PrevClose': [prev_close],'Segment': [segment], 'Traded': [traded]})
                    nse_df = pd.concat([nse_df, df_to_append], ignore_index=True)
    return nse_df

def bse_price(bse_price_file):
    bse_df = pd.DataFrame(columns=['BSE_Code', 'Date', 'Price', 'PrevClose', 'BSE_Volume','Segment'])
    dely_segment = ['EQ', 'BE', 'SM', 'ST']

    for file_name in bse_price_file:
        file_path = os.path.join(directory, file_name)
        date = file_name[8:14]

        with open(file_path, 'r') as file:
            reader = csv.reader(file)
            for row in reader:
                #if row and row[1] in dely_segment:  # Check if the row is not empty and segment matches
                    bse_code = row[0]
                    price = row[7]
                    prev_close = row[9]
                    bse_group = row[2]
                    volume = row[11]
                    df_to_append = pd.DataFrame(
                                {'BSE_Code': [bse_code], 
                                'Date': [date], 
                                'Price': [price], 
                                'PrevClose': [prev_close],
                                'BSE_Volume':volume ,
                                'Segment': [bse_group]}
                             )
                    bse_df = pd.concat([bse_df, df_to_append], ignore_index=True)

    # Drop the first row, which is a header row, and reset the index
    bse_df = bse_df.iloc[1:].reset_index(drop=True)
    return bse_df

In [289]:
def add_nse_prefix(df, column_name):
    """Create a copy of the DataFrame to avoid SettingWithCopyWarning"""
    df = df.copy()

    # Add "NSE:" prefix to the specified column
    df.loc[:, column_name] = "NSE:" + df[column_name].astype(str)
    return df

In [290]:
### getting unique symbols from fno
nse_fno_file = sorted([file for file in os.listdir(directory) if file.startswith('NSE FNO')],reverse=True)[:1]

for file_name in nse_fno_file:
    file_path = os.path.join(directory, file_name)
    fno_df = pd.read_csv(file_path)
    fno_df = fno_df.drop_duplicates(subset ='SYMBOL')
    fno_symbols = fno_df['SYMBOL']
    fno_symbols = fno_symbols.reset_index(drop=True)

In [291]:
print('processing nse_dely')
nse_dely_data = nse_data(nse_dely_file)

print('processing bse_dely')
bse_dely_data = bse_data(bse_dely_file)

print('processing nse_price')
nse_price_data = nse_price(nse_price_file)

print('processing bse_price')
bse_price_data = bse_price(bse_price_file)

print('all done, proceed')

processing nse_dely
processing bse_dely
processing nse_price
processing bse_price
all done, proceed

In [292]:
nse_dely_data['NSE_Delivery'] = nse_dely_data['NSE_Delivery'].astype(int)
nse_dely_data['NSE_Volume'] = nse_dely_data['NSE_Volume'].astype(int)
nse_price_data['Price'] = nse_price_data['Price'].astype(float)
nse_price_data['PrevClose'] = nse_price_data['PrevClose'].astype(float)
nse_price_data['Traded'] = nse_price_data['Traded'].astype(int)

bse_dely_data['BSE_Delivery'] = bse_dely_data['BSE_Delivery'].astype(int)
bse_price_data['Price'] = bse_price_data['Price'].astype(float)
bse_price_data['PrevClose'] = bse_price_data['PrevClose'].astype(float)
bse_price_data['BSE_Volume'] = bse_price_data['BSE_Volume'].astype(int)

In [293]:
# nse_dely_data.info()
# bse_dely_data.info()
# nse_price_data.info()
# bse_price_data.info()

In [294]:
### nse_dely_data has NSE_Code, Date, NSE_Delivery, Segment
### bse_dely_data has BSE_Code, Date, BSE_Delivery

### nse_price_data has NSE_Code	Date	Price	PrevClose	Segment	Traded
### bse_price_data has BSE_Code	Date	Price	PrevClose	Segment

In [295]:
## this section processes nse delivery and price file. Makes sure that stocks which are in BE segment and 
## therefore dont appear in nse delivery are taken from price file and new nse merged df is generated

### merging nse price and delivery files
nse_merged_df_out = pd.merge(nse_dely_data,nse_price_data, on = 'NSE_Code', how = 'outer')

### processing merged file
# Replace 'NSE_Delivery' with 'Traded' where 'NSE_Delivery' is NaN
nse_merged_df_out['NSE_Delivery'] = nse_merged_df_out['NSE_Delivery'].fillna(nse_merged_df_out['Traded'])

# Replace nse volume with nse delivery where nse volume is NaN
nse_merged_df_out['NSE_Volume'] = nse_merged_df_out['NSE_Volume'].fillna(nse_merged_df_out['NSE_Delivery'])

# Replace 'Date_x' with 'Date_y' where 'Date_x' is NaN
nse_merged_df_out['Date_x'] = nse_merged_df_out['Date_x'].fillna(nse_merged_df_out['Date_y'])

# Replace 'Segment_x' with 'Segment_y' where 'Segment_x' is NaN
nse_merged_df_out['Segment_x'] = nse_merged_df_out['Segment_x'].fillna(nse_merged_df_out['Segment_y'])

# Rename 'Segment_x' to 'Segment'
nse_merged_df_out.rename(columns={'Segment_x': 'Segment'}, inplace=True)

# Rename 'Date_x' to 'Date'
nse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
nse_merged_df_out.drop(columns=['Date_y'], inplace=True)

# Drop the 'Segment_y' column
nse_merged_df_out.drop(columns=['Segment_y'], inplace=True)

# Delete the 'Traded' column after replacement
nse_merged_df_out.drop(columns=['Traded'], inplace=True)

# Reset the index
nse_merged_df_out.reset_index(drop=True, inplace=True)

# add traded_value column

nse_merged_df_out['Traded_Value_lacs'] = (nse_merged_df_out['NSE_Delivery'] * nse_merged_df_out['Price'] / 100000).round(2)

#print(nse_merged_df_out)

nse_col_order = ['Date','NSE_Code','NSE_Volume','NSE_Delivery','Price','PrevClose','Traded_Value_lacs','Segment']
nse_merged_df_out = nse_merged_df_out[nse_col_order]

#### nse_merged_df_out is NSE_Code	Date	NSE_Delivery	Segment	Price	PrevClose	Traded_Value_lacs

In [296]:
nse_merged_df_out.head()

,Date,NSE_Code,NSE_Volume,NSE_Delivery,Price,PrevClose,Traded_Value_lacs,Segment
0,231222,20MICRONS,1118134.0,295886.0,189.45,170.50,560.56,EQ
1,231222,21STCENMGM,6944.0,6944.0,32.25,31.65,2.24,EQ
2,231222,360ONE,611023.0,186447.0,657.90,635.70,1226.63,EQ
3,231222,3IINFOLTD,1388245.0,503089.0,45.20,44.25,227.40,EQ
4,231222,3MINDIA,1812.0,671.0,31182.00,31358.30,209.23,EQ

In [297]:
###merging bse price and delivery files

bse_merged_df_out = pd.merge(bse_dely_data, bse_price_data, on = 'BSE_Code', how = 'outer')


### processing bse merged file

bse_merged_df_out['Traded_Value_lacs'] = (bse_merged_df_out['BSE_Delivery'] * bse_merged_df_out['Price'] / 100000).round(2)

# Rename 'Date_x' to 'Date'
bse_merged_df_out.rename(columns={'Date_x': 'Date'}, inplace=True)

# Drop the 'Date_y' column
bse_merged_df_out.drop(columns=['Date_y'], inplace=True)
bse_merged_df_out = bse_merged_df_out[bse_merged_df_out['BSE_Code'] <= '599999']

bse_merged_df_out.reset_index(drop=True, inplace = True)

#print(bse_merged_df_out)

bse_col_order = ['Date','BSE_Code','BSE_Volume','BSE_Delivery','Price','PrevClose','Traded_Value_lacs','Segment']
bse_merged_df_out = bse_merged_df_out[bse_col_order]

#### bse_merged_df_out is BSE_Code	Date	BSE_Delivery	Price	PrevClose	Segment	Traded_Value_lacs

In [298]:
### saving nse and bse files separately

nse_file = str(combined_file_path) +"\\"+ 'nse_' + user_input + '.csv'
bse_file = str(combined_file_path) + "\\"+'bse_' + user_input + '.csv'

#df.to_csv('sample.csv', index=False)

nse_merged_df_out.to_csv(nse_file, index = False)
bse_merged_df_out.to_csv(bse_file, index = False)

In [299]:
#nse_merged_df_out.info()
#nse_merged_df_out

In [300]:
#bse_merged_df_out.info()
#bse_merged_df_out

In [301]:
## reading master file
### master file (csv) is Company Name	CD_NSE Symbol	CD_BSE Code	CD_Is Subsidiary	CD_Sector	CD_Industry1

#### TO FIX - MASTER FILE DOES NOT HAVE SM SEGMENT CODES

master_file = pd.read_csv(master_file_path, dtype={'CD_BSE Code': str})


###df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
##df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)
### Inplace method (modifies the original DataFrame)
###df.drop(columns=['column1', 'column2'], inplace=True)

master_file.drop(columns=['CD_Is Subsidiary','CD_Sector','CD_Industry1'], inplace = True )
master_file.rename(columns={'CD_NSE Symbol': 'NSE_Code', 'CD_BSE Code': 'BSE_Code'}, inplace= True )


#### master_file df is Company Name	NSE_Code	BSE_Code

#print(master_file)

In [302]:
## Merge NSE df with master file 

master_file = pd.merge(master_file,nse_merged_df_out, on= "NSE_Code", how = 'outer')
#master_file.dropna(subset=['Company Name'], inplace=True)


## merge bse df  with master file 
master_file = pd.merge(master_file,bse_merged_df_out, on ="BSE_Code", how = "outer")
#master_file.dropna(subset=['Company Name'], inplace=True)

# Drop records where both 'NSE_Code' and 'BSE_Code' are NaN or blank
master_file.dropna(subset=['NSE_Code', 'BSE_Code'], how='all', inplace=True)

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

# Drop records where both 'NSE_Delivery' and 'BSE_Delivery' are 0 or blank or NaN
master_file = master_file[~((master_file['NSE_Delivery'] == 0) & (master_file['BSE_Delivery'] == 0))]

# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)


# Trim "Company Name" column to a maximum length of 20 characters
master_file['Company Name'] = master_file['Company Name'].str.slice(0, 30)


# Reset the index after dropping rows
master_file.reset_index(drop=True, inplace=True)

#print(master_file)

In [303]:

# Identify the data types of each column
column_data_types = master_file.dtypes

# Replace NaN values in object columns with empty strings ("")
object_columns = master_file.select_dtypes(include='object').columns
master_file[object_columns] = master_file[object_columns].fillna("")

# Replace NaN values in float/integer columns with 0
numeric_columns = master_file.select_dtypes(include=['float64', 'int64']).columns
master_file[numeric_columns] = master_file[numeric_columns].fillna(0)

# Print the resulting DataFrame
#print(master_file)

#master_file.info()

In [304]:
# Define a custom function to replace Price_x with Price_y if Price_x is 0
def replace_price_x(row):
    if row['Price_x'] == 0:
        return row['Price_y']
    else:
        return row['Price_x']

    
def replace_prevclose_x(row):
    if row['PrevClose_x'] == 0:
        return row['PrevClose_y']
    else:
        return row['PrevClose_x']
    
    
def replace_segment(row):
    if row['Segment_x'] == "":
        return row['Segment_y']
    else:
        return row['Segment_x']
    
def replace_date(row):
    if row['Date_x'] == "":
        return row['Date_y']
    else:
        return row['Date_x']

# Apply the custom function to the DataFrame
master_file['Price_x'] = master_file.apply(replace_price_x, axis=1)
master_file['PrevClose_x'] = master_file.apply(replace_prevclose_x, axis=1)

# Rename 'Price_x' column to 'Price'
master_file.rename(columns={'Price_x': 'Price'}, inplace=True)
master_file.rename(columns={'PrevClose_x':'PrevClose'}, inplace=True)

### segment

master_file['Segment_x'] = master_file.apply(replace_segment, axis = 1)
master_file.rename(columns={'Segment_x' :'Segment'}, inplace = True)

#Date
master_file['Date_x'] = master_file.apply(replace_date, axis = 1)
master_file.rename(columns={'Date_x' :'Date'}, inplace = True)

### add total delivery column
master_file['Total_Delivery'] = master_file['NSE_Delivery'] + master_file['BSE_Delivery']
master_file['Total_Delivery'] = master_file['Total_Delivery'].astype(int)
master_file = master_file[master_file['Total_Delivery'] >= 1]

### add total volume column
master_file['Total_Volume'] = master_file['NSE_Volume'] + master_file['BSE_Volume']
master_file['Total_Volume'] = master_file['Total_Volume'].astype(int)


## add total traded value colum

master_file['Total_Traded_Value'] = ( master_file['Total_Delivery'] * master_file['Price'] ) / 100000



### reorder columns

columns_to_copy = ['Date','Company Name','Total_Volume','Total_Delivery', 'Price','PrevClose','Total_Traded_Value' ,'NSE_Code','BSE_Code','Segment']

# Create a new DataFrame 'final_master_file' with the desired columns
#final_master_file = master_file[columns_to_copy].copy()

In [305]:
#master_file

In [306]:

master_file_columns = ['Date','Company Name','NSE_Code','BSE_Code','Total_Volume','Total_Delivery', 'Price','PrevClose',
                       'Total_Traded_Value' , 'NSE_Volume','NSE_Delivery','BSE_Volume','BSE_Delivery','Segment']
final_master_file = master_file[master_file_columns]
master_file_csv = str(combined_file_path) + "\\"+'combined_' + user_input + '.csv'

#df.to_csv('sample.csv', index=False)

final_master_file.to_csv(master_file_csv, index = False)

In [307]:
#### create sme file
sme_segment = ['SM','ST','M ','MT']
sme_delivery = final_master_file[final_master_file['Segment'].isin(sme_segment)]
sme_delivery.loc[sme_delivery['NSE_Code'] == '', 'NSE_Code'] = sme_delivery['BSE_Code']
sme_delivery.reset_index(drop=True, inplace=True)

# Drop records where Total_Traded_Value is below 1000
final_master_file = final_master_file[final_master_file['Total_Traded_Value'] >= 1000]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [308]:
###creating separate file for fno delivery and non fno delivery

# Filter final_master_file to get fno_delivery by checking if NSE_Code is in fno_symbols
fno_delivery = final_master_file[final_master_file['NSE_Code'].isin(fno_symbols)]
fno_delivery_final = fno_delivery[['NSE_Code', 'NSE_Volume','Total_Delivery', 'Price','PrevClose', 
                                   'Total_Traded_Value']].copy()


# Create non_fno_delivery by dropping rows where NSE_Code is in fno_symbols
non_fno_delivery = final_master_file[~final_master_file['NSE_Code'].isin(fno_symbols)]

# Reset index inplace for fno_delivery and non_fno_delivery
fno_delivery_final.reset_index(drop=True, inplace=True)
non_fno_delivery.reset_index(drop=True, inplace=True)

# Replace empty strings in NSE_Code with BSE_Code
#non_fno_delivery.loc[non_fno_delivery['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery['BSE_Code']


# Replace empty strings in NSE_Code with BSE_Code using a copy
non_fno_delivery_copy = non_fno_delivery.copy()
non_fno_delivery_copy.loc[non_fno_delivery_copy['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery_copy['BSE_Code']

In [309]:
# Replace empty strings in NSE_Code with BSE_Code
#non_fno_delivery['NSE_Code'] = non_fno_delivery.apply(lambda row: row['BSE_Code'] if row['NSE_Code'] == "" else row['NSE_Code'], axis=1)

#non_fno_delivery.loc[non_fno_delivery['NSE_Code'] == '', 'NSE_Code'] = non_fno_delivery['BSE_Code']


#sme_delivery
#non_fno_delivery

In [310]:
segment_var = ['SM','ST','M ']
#final_master_file.info()
 ##Count the records in each segment
segment_counts = master_file['Segment'].value_counts()

#print(segment_counts)

In [311]:
nse_dely_date = user_input
### creating top 50 by value and by volume for fno and non-fno

def top_n(df, n, column_name, trade_amt):
    df_filtered = df[df['Total_Traded_Value'] > trade_amt]
    top_n = df_filtered.nlargest(n, column_name).sort_values(column_name, ascending=False)
    
    # Format and right-align specific columns
    columns_to_format = ['Total_Delivery', 'Price', 'PrevClose', 'Total_Traded_Value']
    column_widths = {'Total_Delivery': 15, 'Price': 12, 'PrevClose': 12, 'Total_Traded_Value': 18}

    for col in columns_to_format:
        if col == 'Total_Delivery':
            top_n[col] = top_n[col].apply(lambda x: f"{int(x):,}".rjust(column_widths[col]))
        else:
            top_n[col] = top_n[col].apply(lambda x: f"{x:,.2f}".rjust(column_widths[col]))

    return top_n



df_value_50 = top_n(non_fno_delivery,50,'Total_Traded_Value', 250)
df_volume_50 = top_n(non_fno_delivery,50,'Total_Delivery', 250)

fno_value_50 = top_n(fno_delivery,50,'Total_Traded_Value', 1000)
fno_volume_50 = top_n(fno_delivery,50,'Total_Delivery', 1000)

fno_columns = ['NSE_Code', 'Total_Delivery','Price','PrevClose','Total_Traded_Value']

fno_value_50 = fno_value_50[fno_columns]
fno_volume_50 = fno_volume_50[fno_columns]

sme_value_50 = top_n(sme_delivery,50,'Total_Traded_Value', 50)

###########################

###########################

## write to excel -- non_fno value and volume is merged by concat and saved for multiple scrips report (7-day history)
#### sme_csv is similarly saved for 7-day history report

df_non_fno = pd.concat([df_value_50, df_volume_50])
df_non_fno_date = df_non_fno
df_non_fno_wl = df_non_fno[['NSE_Code']]

df_fno = pd.concat([fno_value_50, fno_volume_50])

# Reset the index of the series
df_non_fno_wl.reset_index(drop=True, inplace=True)

#add NSE: prefix to NSE_Code
df_non_fno_wl_nse = add_nse_prefix(df_non_fno_wl,'NSE_Code')


### define csv files
output_non_fno = str(output_path) +'\\'+"0_non_fno.csv"
output_non_fno_date = str(output_path) + "\\"+nse_dely_date + "_0_non_fno_.csv"
output_non_fno_wl = str(output_path) + "\\"+ '_' + nse_dely_date +"_0_non_fno_wl.csv"


output_fno = str(output_path) + "\\"+ "fno.csv"

output_sme_nodate = str(output_path)+ "\\" + 'sme_csv.csv'
output_sme = str(output_path)+ "\\" + nse_dely_date + '_0_sme_.csv'

### write to csv
df_non_fno.to_csv(output_non_fno, index = False)
df_non_fno.to_csv(output_non_fno_date, index = False)
df_non_fno_wl_nse.to_csv(output_non_fno_wl, index = False)

df_fno.to_csv(output_fno, index = False)

sme_delivery.to_csv(output_sme, index=False)
sme_value_50.to_csv(output_sme_nodate)

In [312]:
def print_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(), 1):
        p_coname = row[columns_to_select[0]].ljust(40)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(18)
        p_nse_code = row[columns_to_select[5]].ljust(10)
        
        print(f"{p_coname}{p_dely}{p_price}{p_prevclose}{p_trade_value}    {p_nse_code}")

        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

def fno_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(),1):
        p_nse_code = row[columns_to_select[0]].ljust(10)
        p_dely = f"{row[columns_to_select[1]]:,.0f}".rjust(15)
        p_price = f"{row[columns_to_select[2]]:,.2f}".rjust(12)
        p_prevclose = f"{row[columns_to_select[3]]:,.2f}".rjust(12)
        p_trade_value = f"{row[columns_to_select[4]]:,.2f}".rjust(12)
        
        print(f"{p_nse_code}{p_dely}{p_price}{p_prevclose}{p_trade_value}")
        
        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

In [313]:
def fno_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(), 1):
        p_coname = str(row[columns_to_select[0]]).ljust(40)

        # Handle 'Total_Delivery' column (index 1)
        total_delivery = row[columns_to_select[1]]
        if isinstance(total_delivery, (int, float)):
            p_dely = f"{total_delivery:,.0f}"
        elif isinstance(total_delivery, str) and total_delivery.replace(',', '').isdigit():
            p_dely = f"{float(total_delivery):,.0f}"
        else:
            p_dely = str(total_delivery)

        # Clean the 'Price' column before converting to float
        price_str = ''.join(char for char in row[columns_to_select[2]] if char.isdigit() or char == '.')
        p_price = f"{float(price_str.replace(',', '')):,.2f}".rjust(12)

        # Clean the 'PrevClose' column before converting to float
        prevclose_str = ''.join(char for char in row[columns_to_select[3]] if char.isdigit() or char == '.')
        p_prevclose = f"{float(prevclose_str.replace(',', '')):,.2f}".rjust(12)

        # Clean the 'Total_Traded_Value' column before converting to float
        trade_value_str = ''.join(char for char in row[columns_to_select[4]] if char.isdigit() or char == '.')
        p_trade_value = f"{float(trade_value_str.replace(',', '')):,.2f}".rjust(18)

        

        print(f"{p_coname}{p_dely}{p_price}{p_prevclose}{p_trade_value}    ")

        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

def print_formatted_rows(df, columns_to_select):
    # Iterate over the DataFrame and print each row
    for i, (_, row) in enumerate(df.iterrows(), 1):
        p_coname = str(row[columns_to_select[0]]).ljust(40)
        
        # Handle 'Total_Delivery' column (index 1)
        total_delivery = row[columns_to_select[1]]
        if isinstance(total_delivery, (int, float)):
            p_dely = f"{total_delivery:,.0f}"
        elif isinstance(total_delivery, str) and total_delivery.replace(',', '').isdigit():
            p_dely = f"{float(total_delivery):,.0f}"
        else:
            p_dely = str(total_delivery)

        # Clean the 'Price' column before converting to float
        price_str = ''.join(char for char in row[columns_to_select[2]] if char.isdigit() or char == '.')
        p_price = f"{float(price_str.replace(',', '')):,.2f}".rjust(12)

        # Clean the 'PrevClose' column before converting to float
        prevclose_str = ''.join(char for char in row[columns_to_select[3]] if char.isdigit() or char == '.')
        p_prevclose = f"{float(prevclose_str.replace(',', '')):,.2f}".rjust(12)

        # Clean the 'Total_Traded_Value' column before converting to float
        trade_value_str = ''.join(char for char in row[columns_to_select[4]] if char.isdigit() or char == '.')
        p_trade_value = f"{float(trade_value_str.replace(',', '')):,.2f}".rjust(18)

        p_nse_code = str(row[columns_to_select[5]]).ljust(10)

        print(f"{p_coname}{p_dely}{p_price}{p_prevclose}{p_trade_value}    {p_nse_code}")

        # Check if the current row index is a multiple of 5, and insert a blank line
        if i % 5 == 0:
            print()

In [314]:
report_prefix_name = f"{user_input}_0_Top 50 deliveries_value_volume_non_fno_fno_sme.pdf"
pdf_name = os.path.join(reports_path,report_prefix_name)
print(pdf_name)

C:\Users\User\Dropbox\SQL Stock Market Data\Python Code from ChatGPT\PDF Reports\231222_0_Top 50 deliveries_value_volume_non_fno_fno_sme.pdf

In [315]:
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Table, PageBreak
from reportlab.lib import colors
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.platypus import Paragraph
from pathlib import Path
from reportlab.pdfbase.pdfmetrics import registerFontFamily

registerFontFamily('Vera', normal='Vera', bold='VeraBd', italic='VeraIt', boldItalic='VeraBI')

columns_to_select = ['Company Name', 'Total_Delivery', 'Price', 'PrevClose', 'Total_Traded_Value', 'NSE_Code']
fno_columns_to_select = ['NSE_Code', 'Total_Delivery', 'Price', 'PrevClose', 'Total_Traded_Value']
dfs = [df_value_50, df_volume_50, fno_value_50, fno_volume_50, sme_value_50]
report_titles = [
    f"Top 50 delivery by value NON-FNO {user_input}",
    f"Top 50 delivery by volume NON-FNO {user_input}",
    f"Top 50 FNO Delivery by value {user_input}",
    f"Top 50 FNO Delivery by volume {user_input}",
    f"Top 50 SME delivery by value {user_input}"
]

#report_prefix_name = f"{user_input}_0_Top 50 deliveries by value volume in non_fno fno and sme.pdf"
#report_path = Path.joinpath(Path(base_folder).parents[0], "Reports", report_prefix_name)
report_prefix_name = f"{user_input}_0_Top 50 deliveries_value_volume_non_fno_fno_sme.pdf"
report_path = os.path.join(reports_path,report_prefix_name)

# Define the style for column headers without grid lines
column_header_style = [
    ('BACKGROUND', (0, 0), (-1, 0), colors.lightgrey),
    ('TEXTCOLOR', (0, 0), (-1, 0), colors.black),
    ('ALIGN', (0, 0), (-1, -1), 'LEFT'),
]


def create_table_with_header(df, df_name, add_column_names=False, table_width=None):
    """create a table with header and data"""
    table_data = [df.columns.tolist()] + df.values.tolist()

    # Add empty rows for spacing after every 5 records
    for i in range(6, len(table_data), 6):
        table_data.insert(i, [''] * len(df.columns))
        
    styles = getSampleStyleSheet()
    h2_style = styles['Normal']
    h2_style.fontSize = 9
    h2_style.fontName = 'Calibri'

    if table_width is None:
        t = Table(table_data, repeatRows=1, style=h2_style)
    else:
        colwdth = [170, 80, 67, 68, 105]
        t = Table(table_data, repeatRows=1, colWidths=colwdth)  # Adjust colWidths for left alignment

    style = [
        ('ALIGN', (0, 0), (0, -1), 'LEFT'),  # Left align first column
        ('ALIGN', (-1, 0), (-1, -1), 'LEFT'),  # Left align last column
        ('ALIGN', (1, 0), (-2, -1), 'RIGHT'),  # Right align other columns
    ]

    # repeatRows=1 to add the first column to all the pages
    t.setStyle(column_header_style)

    if "FNO" in str(df_name) and "NON-FNO" not in str(df_name):
        style = [
            ('ALIGN', (-1, 0), (-1, -1), 'LEFT'),  # Left align first column
            ('ALIGN', (1, 0), (-1, -1), 'RIGHT'),  # Right align other columns (including last)
        ]

    # Set title row color for the first page
    if getattr(create_table_with_header, 'first_page', True):
        style.extend([
            ('BACKGROUND', (0, 0), (-1, 0), colors.lightgrey),  # Background color for the title row
            ('TEXTCOLOR', (0, 0), (-1, 0), colors.black),
        ])
        create_table_with_header.first_page = False

    t.setStyle(style)

    # Remove table borders
    t.setStyle([('LINEBELOW', (0, 0), (-1, 0), 0, colors.white),  # Hide line below header
                ('GRID', (0, 0), (-1, -1), 0, colors.white)])  # Hide grid lines

    return t


def add_headers_and_footers(canvas, doc):
    """Add header and footer here"""
    page_num = canvas.getPageNumber()
    text = f"Page {page_num}"
    footer_style = getSampleStyleSheet()['Normal']
    footer_style.alignment = 1  # 0=Left, 1=Center, 2=Right

    footer = Paragraph(text, footer_style)
    w, h = footer.wrap(doc.width, doc.bottomMargin)
    footer.drawOn(canvas, doc.leftMargin, doc.bottomMargin - h)

    # Change title text color to white for pages after the first one
    if page_num > 1:
        title_style = getSampleStyleSheet()['Title']
        title_style.textColor = colors.white
        main_title.style = title_style


left_margin = 20
right_margin = 20
top_margin = 5
bottom_margin = 20  # Add a bottom margin
page_width = letter[0]  # Get width from letter page size
page_height = letter[1] - top_margin - bottom_margin  # Adjust height for margins

# Create a SimpleDocTemplate with adjusted page size and margins
doc = SimpleDocTemplate(
    str(report_path),
    pagesize=(page_width, page_height),
    leftMargin=left_margin,
    rightMargin=right_margin,
    topMargin=top_margin,
    bottomMargin=bottom_margin
)

# Create a list to hold all elements
elements = []
main_title = Paragraph("Top 50 deliveries by value/volume non-FnO FnO and SME", getSampleStyleSheet()['Title'])
elements.extend([main_title])

# Iterate through your dataframes and add tables to the content frame
for i, df in enumerate(dfs):
    df.name = report_titles[i]
    df_name = df.name
    if i == 2 or i == 3:
        dfs[i] = df[fno_columns_to_select]
    else:
        dfs[i] = df[columns_to_select]

    styles = getSampleStyleSheet()
    h2_style = styles['Title']
    h2_style.fontSize = 9
    title = Paragraph(report_titles[i], style=h2_style)
    table_width = doc.width - doc.leftMargin - doc.rightMargin
    table = create_table_with_header(dfs[i], add_column_names=True, table_width=table_width, df_name=df_name)

    # Add elements for title and table
    records_per_page = 30
    chunks = [dfs[i][j:j + records_per_page] for j in range(0, len(dfs[i]), records_per_page)]
    for chunk in chunks:
        elements.extend([title, create_table_with_header(chunk, add_column_names=True, table_width=table_width, df_name=df_name), PageBreak()])

# Assign the function to be called for each page
doc.build(elements, onFirstPage=add_headers_and_footers, onLaterPages=add_headers_and_footers)

In [335]:
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Table, PageBreak
from reportlab.lib import colors
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.platypus import Paragraph
from pathlib import Path
from reportlab.pdfbase.pdfmetrics import registerFontFamily

registerFontFamily('Vera', normal='Vera', bold='VeraBd', italic='VeraIt', boldItalic='VeraBI')

columns_to_select = ['Company Name', 'Total_Delivery', 'Price', 'PrevClose', 'Total_Traded_Value', 'NSE_Code']
fno_columns_to_select = ['NSE_Code', 'Total_Delivery', 'Price', 'PrevClose', 'Total_Traded_Value']
dfs = [df_value_50, df_volume_50, fno_value_50, fno_volume_50, sme_value_50]
report_titles = [
    f"Top 50 delivery by value NON-FNO {user_input}",
    f"Top 50 delivery by volume NON-FNO {user_input}",
    f"Top 50 FNO Delivery by value {user_input}",
    f"Top 50 FNO Delivery by volume {user_input}",
    f"Top 50 SME delivery by value {user_input}"
]

#report_prefix_name = f"{user_input}_0_Top 50 deliveries by value volume in non_fno fno and sme.pdf"
#report_path = Path.joinpath(Path(base_folder).parents[0], "Reports", report_prefix_name)
report_prefix_name = f"{user_input}_0_chatGPT_Top 50 deliveries_value_volume_non_fno_fno_sme.pdf"
report_path = os.path.join(reports_path,report_prefix_name)

# Define the style for column headers without grid lines
column_header_style = [
    ('BACKGROUND', (0, 0), (-1, 0), colors.lightgrey),
    ('TEXTCOLOR', (0, 0), (-1, 0), colors.black),
    ('ALIGN', (0, 0), (-1, -1), 'LEFT'),
]


def create_table_with_header(df, df_name, add_column_names=False, table_width=None):
    """create a table with header and data"""
    table_data = [df.columns.tolist()] + df.values.tolist()

    # Add empty rows for spacing after every 5 records
    for i in range(6, len(table_data), 6):
        table_data.insert(i, [''] * len(df.columns))
        
    styles = getSampleStyleSheet()
    h2_style = styles['Normal']
    h2_style.fontSize = 6
    h2_style.fontName = 'Calibri'

    if table_width is None:
        t = Table(table_data, repeatRows=1, style=h2_style)
    else:
        colwdth = [170, 80, 67, 68, 105]
        t = Table(table_data, repeatRows=1, colWidths=colwdth)  # Adjust colWidths for left alignment

    style = [
        ('ALIGN', (0, 0), (0, -1), 'LEFT'),  # Left align first column
        ('ALIGN', (-1, 0), (-1, -1), 'LEFT'),  # Left align last column
        ('ALIGN', (1, 0), (-2, -1), 'RIGHT'),  # Right align other columns
    ]

    # repeatRows=1 to add the first column to all the pages
    t.setStyle(column_header_style)

    if "FNO" in str(df_name) and "NON-FNO" not in str(df_name):
        style = [
            ('ALIGN', (-1, 0), (-1, -1), 'LEFT'),  # Left align first column
            ('ALIGN', (1, 0), (-1, -1), 'RIGHT'),  # Right align other columns (including last)
        ]

    # Set title row color for the first page
    if getattr(create_table_with_header, 'first_page', True):
        style.extend([
            ('BACKGROUND', (0, 0), (-1, 0), colors.lightgrey),  # Background color for the title row
            ('TEXTCOLOR', (0, 0), (-1, 0), colors.black),
        ])
        create_table_with_header.first_page = False

    t.setStyle(style)

    # Remove table borders
    t.setStyle([('LINEBELOW', (0, 0), (-1, 0), 0, colors.white),  # Hide line below header
                ('GRID', (0, 0), (-1, -1), 0, colors.white),
               ('LEADING', (0, 0), (-1, -1), 8)])  # Hide grid lines

    return t

    #t.setStyle([('LEADING', (0, 0), (-1, -1), 12)])  # Adjust leading to set space between lines

    


def add_headers_and_footers(canvas, doc):
    """Add header and footer here"""
    page_num = canvas.getPageNumber()
    text = f"Page {page_num}"
    footer_style = getSampleStyleSheet()['Normal']
    footer_style.alignment = 1  # 0=Left, 1=Center, 2=Right

    footer = Paragraph(text, footer_style)
    w, h = footer.wrap(doc.width, doc.bottomMargin)
    footer.drawOn(canvas, doc.leftMargin, doc.bottomMargin - h)

    # Change title text color to white for pages after the first one
    if page_num > 1:
        title_style = getSampleStyleSheet()['Title']
        title_style.textColor = colors.white
        main_title.style = title_style


left_margin = 20
right_margin = 20
top_margin = 5
bottom_margin = 20  # Add a bottom margin
page_width = letter[0]  # Get width from letter page size
page_height = letter[1] - top_margin - bottom_margin  # Adjust height for margins

# Create a SimpleDocTemplate with adjusted page size and margins
doc = SimpleDocTemplate(
    str(report_path),
    pagesize=(page_width, page_height),
    leftMargin=left_margin,
    rightMargin=right_margin,
    topMargin=top_margin,
    bottomMargin=bottom_margin
)

# Create a list to hold all elements
elements = []
main_title = Paragraph("Top 50 deliveries by value/volume non-FnO FnO and SME", getSampleStyleSheet()['Title'])
elements.extend([main_title])

# Iterate through your dataframes and add tables to the content frame
for i, df in enumerate(dfs):
    df.name = report_titles[i]
    df_name = df.name
    if i == 2 or i == 3:
        dfs[i] = df[fno_columns_to_select]
    else:
        dfs[i] = df[columns_to_select]

    styles = getSampleStyleSheet()
    h2_style = styles['Title']
    h2_style.fontSize = 9
    title = Paragraph(report_titles[i], style=h2_style)
    table_width = doc.width - doc.leftMargin - doc.rightMargin
    table = create_table_with_header(dfs[i], add_column_names=True, table_width=table_width, df_name=df_name)

    # Add elements for title and table
    records_per_page = 30
    chunks = [dfs[i][j:j + records_per_page] for j in range(0, len(dfs[i]), records_per_page)]
    for chunk in chunks:
        elements.extend([title, create_table_with_header(chunk, add_column_names=True, table_width=table_width, df_name=df_name), PageBreak()])

# Assign the function to be called for each page
doc.build(elements, onFirstPage=add_headers_and_footers, onLaterPages=add_headers_and_footers)

In [ ]:
# Adjust row heights and spacing
for i in range(1, len(table_data)):
    t._argW = colwdth  # Set column widths for the entire table
    t._argH[i] = 6  # Set a smaller row height (adjust this value)
    if i % 6 == 0:  # Increase space after every 5 records
        t._argH.append(5)  # Append the desired spacing

In [316]:
##columns selection for printing
columns_to_select = ['Company Name', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value', 'NSE_Code']
col_length = [40,15,12,18,10]
fno_columns_to_select = ['NSE_Code', 'Total_Delivery', 'Price','PrevClose', 'Total_Traded_Value']



print("Top 50 deliveries by value/volume non-FnO FnO and SME ", nse_dely_date)
print("")
print("")
#print(nse_dely_date)
#print()
print("                          Top 50 delivery by value NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(df_value_50,columns_to_select)
print("")
print("")
print("")


print("                        Top 50 delivery by volume NON FNO ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")

print_formatted_rows(df_volume_50,columns_to_select)
print("")
print("")
print("")


#### printing for fno
print("          Top 50 FNO Delivery by value ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','    Value' )
print("")
fno_formatted_rows(fno_value_50,fno_columns_to_select)
print("")
print("")
print("")

print("             Top 50 FNO Delivery by volume ", nse_dely_date)
print("")
print("NSECode       ",'  Dely_Qty','      Price','   PrevClose','   Value' )
print("")

fno_formatted_rows(fno_volume_50,fno_columns_to_select)
print("")
print("")
print("")


print("                          Top 50 delivery by value SME ", nse_dely_date)
print("")
print("Company Name                                ", '  Dely_Qty','      Price','   PrevClose','           Value','   NSECode')
print("")
print_formatted_rows(sme_value_50,columns_to_select)
print("")
print("")
print("")

Top 50 deliveries by value/volume non-FnO FnO and SME  231222


                          Top 50 delivery by value NON FNO  231222

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

IIFL Finance Ltd.                            33,576,956      572.60      595.15        192,261.65    IIFL
Varun Beverages Ltd.                          3,120,411    1,238.60    1,291.30         38,649.41    VBL
Indian Railway Finance Corpora               35,082,422       97.75       98.85         34,293.07    IRFC
Zomato Ltd.                                  24,177,301      128.50      127.35         31,067.83    ZOMATO
Life Insurance Corporation of                 3,000,680      792.80      764.50         23,789.39    LICI

                                              1,975,244    1,000.00    1,000.00         19,752.44    LIQUIDBEES
Shyam Metalics And Energy Ltd.                2,938,178      608.40      571.90         17,875.87    SHYAMMETL
One97 Communications Ltd.                     2,782,983      642.20      638.50         17,872.32    PAYTM
Indian Bank                                   4,231,865      412.20      412.85         17,443.75    INDIANB
Castrol India Ltd.                           10,413,327      162.55      151.70         16,926.86    CASTROLIND

Piramal Pharma Ltd.                          11,780,945      140.50      128.90         16,552.23    PPLPHARMA
JIO Financial Services                        6,488,494      236.75      238.00         15,361.51    JIOFIN
HFCL Ltd.                                    18,548,184       82.00       77.30         15,209.51    HFCL
Sansera Engineering Ltd.                      1,531,353      991.75      984.45         15,187.19    SANSERA
Adani Energy Solutions                        1,431,706    1,027.90    1,026.55         14,716.51    ADANIENSOL

Inox India Limited                            1,575,533      910.65      939.95         14,347.59    INOXINDIA
JB Chemicals & Pharmaceuticals                  846,500    1,618.85    1,487.00         13,703.57    JBCHEPHARM
Yes Bank Ltd.                                63,418,401       21.05       21.15         13,349.57    YESBANK
KPIT Technologies Ltd.                          786,393    1,539.35    1,516.40         12,105.34    KPITTECH
Suzlon Energy Ltd.                           32,302,138       37.25       37.10         12,032.55    SUZLON

Indiabulls Housing Finance Ltd                5,539,907      210.20      210.25         11,644.88    IBULHSGFIN
Indian Renewable Energy Dev Ag               10,519,444      109.85      109.90         11,555.61    IREDA
Bank Of India                                10,219,755      111.80      109.50         11,425.69    BANKINDIA
Balmer Lawrie & Company Ltd.                  4,782,029      224.90      187.45         10,754.78    BALMLAWRIE
Adani Green Energy Ltd.                         635,929    1,533.10    1,519.55          9,749.43    ADANIGREEN

                                              4,292,266      222.74      221.70          9,560.59    SETFNIF50
Patanjali Foods Ltd.                            579,174    1,621.65    1,545.55          9,392.18    PATANJALI
NLC India Ltd.                                4,033,166      223.90      210.50          9,030.26    NLCINDIA
CG Power and Industrial Soluti                1,924,046      466.70      456.10          8,979.52    CGPOWER
Inox Wind Ltd.                                1,818,643      453.25      455.55          8,243.00    INOXWIND

Apar Industries Ltd.                            142,308    5,657.65    5,389.35          8,051.29    APARINDS
Poonawalla Fincorp Ltd.                       1,813,816      442.35      440.35          8,023.42    POONAWALLA
Oil India Ltd.                                2,098,101      373.25      376.35          7,831.16    OIL
Honasa Consumer Limited                       1,834,964      425.30      412.55          7,804.10    HONASA
Union Bank Of India                           6,005,688      118.25      118.55          7,101.73    UNIONBANK

Swan Energy Ltd.                              1,383,485      506.40      493.60          7,005.97    SWANENERGY
The Jammu & Kashmir Bank Ltd.                 5,412,582      127.70      123.35          6,911.87    J&KBANK
The Phoenix Mills Ltd.                          296,546    2,298.50    2,194.20          6,816.11    PHOENIXLTD
Adani Total Gas Ltd.                            671,774      996.30      985.00          6,692.88    ATGL
Cyient Ltd.                                     278,237    2,388.10    2,323.30          6,644.58    CYIENT

NHPC Ltd.                                     9,955,397       64.70       63.45          6,441.14    NHPC
Avenue Supermarts Ltd.                          159,707    4,007.95    3,954.50          6,400.98    DMART
Ircon International Ltd.                      3,786,008      166.60      167.35          6,307.49    IRCON
BEML Ltd.                                       224,874    2,804.15    2,717.75          6,305.80    BEML
Rail Vikas Nigam Ltd.                         3,360,567      176.90      177.40          5,944.84    RVNL

Gujarat Fluorochemicals Ltd.                    165,786    3,569.05    3,388.65          5,916.99    FLUOROCHEM
Jindal Stainless Ltd.                         1,074,745      549.10      539.00          5,901.42    JSL
Adani Power Ltd.                              1,137,278      512.55      511.65          5,829.12    ADANIPOWER
PB Fintech Ltd.                                 752,706      773.30      761.30          5,820.68    POLICYBZR
Zensar Technologies Ltd.                        890,286      620.05      624.90          5,520.22    ZENSARTECH




                        Top 50 delivery by volume NON FNO  231222

Company Name                                   Dely_Qty       Price    PrevClose            Value    NSECode

GTL Infrastructure Ltd.                     118,340,172        1.40        1.45          1,656.76    GTLINFRA
Yes Bank Ltd.                                63,418,401       21.05       21.15         13,349.57    YESBANK
Indian Railway Finance Corpora               35,082,422       97.75       98.85         34,293.07    IRFC
IIFL Finance Ltd.                            33,576,956      572.60      595.15        192,261.65    IIFL
Suzlon Energy Ltd.                           32,302,138       37.25       37.10         12,032.55    SUZLON

Vikas EcoTech Ltd.                           29,400,998        3.95        4.10          1,161.34    VIKASECO
Zomato Ltd.                                  24,177,301      128.50      127.35         31,067.83    ZOMATO
Jaiprakash Power Ventures Ltd.               20,410,938       13.25       13.25          2,704.45    JPPOWER
Reliance Power Ltd.                          20,150,989       22.40       22.70          4,513.82    RPOWER
HFCL Ltd.                                    18,548,184       82.00       77.30         15,209.51    HFCL

RattanIndia Power Ltd.                       15,269,937        9.15        9.30          1,397.20    RTNPOWER
Jaiprakash Associates Ltd.                   14,909,496       21.10       20.10          3,145.90    JPASSOCIAT
Piramal Pharma Ltd.                          11,780,945      140.50      128.90         16,552.23    PPLPHARMA
IRB Infrastructure Developers                10,836,219       41.65       41.55          4,513.29    IRB
Indian Renewable Energy Dev Ag               10,519,444      109.85      109.90         11,555.61    IREDA

Castrol India Ltd.                           10,413,327      162.55      151.70         16,926.86    CASTROLIND
Bank Of India                                10,219,755      111.80      109.50         11,425.69    BANKINDIA
NHPC Ltd.                                     9,955,397       64.70       63.45          6,441.14    NHPC
Hindustan Construction Company                9,952,101       29.05       29.50          2,891.09    HCC
The South Indian Bank Ltd.                    9,644,959       26.65       26.90          2,570.38    SOUTHBANK

PC Jeweller Ltd.                              9,077,038       51.65       47.60          4,688.29    PCJEWELLER
Dish TV India Ltd.                            8,659,582       19.75       19.65          1,710.27    DISHTV
Axita Cotton Ltd.                             7,817,693       27.50       31.90          2,149.87    AXITA
Jyoti Structures Ltd.                         7,604,417       19.25       18.90          1,463.85    JYOTISTRUC
Orient Green Power Company Ltd                7,592,901       22.35       22.60          1,697.01    GREENPOWER

Infibeam Avenues Ltd.                         6,879,091       21.70       21.95          1,492.76    INFIBEAM
Easy Trip Planners Ltd.                       6,609,370       38.50       38.25          2,544.61    EASEMYTRIP
JIO Financial Services                        6,488,494      236.75      238.00         15,361.51    JIOFIN
Indian Overseas Bank                          6,090,660       42.95       43.60          2,615.94    IOB
Morepen Laboratories Ltd.                     6,068,180       49.25       48.30          2,988.58    MOREPENLAB

Union Bank Of India                           6,005,688      118.25      118.55          7,101.73    UNIONBANK
GMR Power and Urban Infra Ltd.                5,991,049       52.95       52.75          3,172.26    GMRP&UI
Bajaj Hindusthan Sugar Ltd.                   5,880,121       27.90       28.15          1,640.55    BAJAJHIND
Brightcom Group Ltd.                          5,851,286       19.85       19.60          1,161.48    BCG
Hathway Cable & Datacom Ltd.                  5,809,843       22.05       21.65          1,281.07    HATHWAY

SJVN Ltd.                                     5,542,444       89.70       89.95          4,971.57    SJVN
Indiabulls Housing Finance Ltd                5,539,907      210.20      210.25         11,644.88    IBULHSGFIN
The Jammu & Kashmir Bank Ltd.                 5,412,582      127.70      123.35          6,911.87    J&KBANK
Coffee Day Enterprises Ltd.                   5,271,957       65.70       64.00          3,463.68    COFFEEDAY
Salasar Techno Engineering Ltd                5,256,206       68.00       64.45          3,574.22    SALASAR

Alok Industries Ltd.                          4,931,524       21.65       21.55          1,067.67    ALOKINDS
IFCI Ltd.                                     4,906,653       28.40       28.40          1,393.49    IFCI
Balmer Lawrie & Company Ltd.                  4,782,029      224.90      187.45         10,754.78    BALMLAWRIE
Bank Of Maharashtra                           4,665,154       45.60       45.65          2,127.31    MAHABANK
Edelweiss Financial Services L                4,474,789       78.15       80.90          3,497.05    EDELWEISS

NBCC (India) Ltd.                             4,344,502       78.40       78.20          3,406.09    NBCC
                                              4,292,266      222.74      221.70          9,560.59    SETFNIF50
National Fertilizers Ltd.                     4,280,879       84.25       80.35          3,606.64    NFL
Indian Bank                                   4,231,865      412.20      412.85         17,443.75    INDIANB
Central Bank Of India                         4,231,483       48.70       49.20          2,060.73    CENTRALBK




          Top 50 FNO Delivery by value  231222

NSECode          Dely_Qty       Price    PrevClose     Value

HDFCBANK                                     17,324,183    1,670.85    1,686.70        289,461.11
RELIANCE                                      4,785,411    2,565.05    2,562.55        122,748.18
ICICIBANK                                    11,192,038      994.30    1,004.40        111,282.43
AXISBANK                                      5,380,107    1,088.30    1,095.40         58,551.70
TCS                                           1,368,295    3,824.00    3,787.50         52,323.60

INFY                                          3,087,182    1,562.90    1,536.00         48,249.57
GAIL                                         25,585,886      151.50      140.70         38,762.62
BAJFINANCE                                      530,938    7,295.30    7,367.15         38,733.52
SBIN                                          5,932,186      636.75      643.75         37,773.19
WIPRO                                         8,093,854      462.65      434.00         37,446.22

M&M                                           1,828,646    1,634.25    1,633.85         29,884.65
MARUTI                                          291,190   10,217.15   10,012.85         29,751.32
KOTAKBANK                                     1,519,222    1,860.50    1,852.70         28,265.13
POLYCAB                                         517,373    5,359.30    5,619.30         27,727.57
TATAMOTORS                                    3,803,264      724.70      708.85         27,562.25

ITC                                           5,929,624      455.20      451.45         26,991.65
SAIL                                         21,123,692      112.75      109.00         23,816.96
BHARTIARTL                                    2,383,992      989.55      977.90         23,590.79
LT                                              666,788    3,477.95    3,424.15         23,190.55
HINDCOPPER                                    9,962,483      226.60      217.90         22,574.99

HINDALCO                                      3,776,839      570.45      556.25         21,544.98
NTPC                                          6,779,541      302.80      301.95         20,528.45
NATIONALUM                                   17,766,390      115.10      110.40         20,449.11
SHRIRAMFIN                                      994,486    2,055.45    2,016.85         20,441.16
TRENT                                           654,477    2,965.50    2,955.20         19,408.52

TATASTEEL                                    14,323,134      133.55      131.00         19,128.55
HINDUNILVR                                      701,415    2,575.60    2,553.20         18,065.64
DLF                                           2,465,643      715.95      692.90         17,652.77
RECLTD                                        4,180,792      406.60      412.20         16,999.10
PFC                                           4,349,170      386.90      388.85         16,826.94

LTIM                                            267,628    6,229.10    6,111.05         16,670.82
ASIANPAINT                                      496,088    3,341.30    3,302.95         16,575.79
IRCTC                                         1,883,488      860.90      868.25         16,214.95
PEL                                           1,767,356      915.10      881.80         16,173.07
DABUR                                         3,032,979      529.30      530.25         16,053.56

INDUSINDBK                                    1,015,816    1,562.35    1,570.00         15,870.60
COALINDIA                                     4,310,924      363.25      355.50         15,659.43
RBLBANK                                       5,724,721      272.45      275.50         15,597.00
ADANIPORTS                                    1,496,737    1,027.50    1,018.95         15,378.97
SUNPHARMA                                     1,206,973    1,243.65    1,233.50         15,010.52

CIPLA                                         1,213,539    1,235.60    1,221.85         14,994.49
TATAPOWER                                     4,578,872      326.65      328.55         14,956.89
BRITANNIA                                       285,936    5,161.10    5,059.60         14,757.44
HINDPETRO                                     3,986,061      369.30      375.70         14,720.52
GRASIM                                          696,947    2,046.20    2,085.60         14,260.93

BPCL                                          3,140,364      446.65      449.55         14,026.44
DIVISLAB                                        374,762    3,694.95    3,632.70         13,847.27
MANAPPURAM                                    7,738,228      176.65      170.00         13,669.58
HCLTECH                                         925,796    1,462.70    1,422.05         13,541.62
ZEEL                                          4,977,550      267.55      262.20         13,317.44




             Top 50 FNO Delivery by volume  231222

NSECode          Dely_Qty       Price    PrevClose    Value

IDEA                                         54,867,507       13.60       13.65          7,461.98
GAIL                                         25,585,886      151.50      140.70         38,762.62
SAIL                                         21,123,692      112.75      109.00         23,816.96
NATIONALUM                                   17,766,390      115.10      110.40         20,449.11
HDFCBANK                                     17,324,183    1,670.85    1,686.70        289,461.11

TATASTEEL                                    14,323,134      133.55      131.00         19,128.55
ICICIBANK                                    11,192,038      994.30    1,004.40        111,282.43
HINDCOPPER                                    9,962,483      226.60      217.90         22,574.99
PNB                                           9,033,833       89.25       89.85          8,062.70
GMRINFRA                                      8,936,264       74.65       73.40          6,670.92

WIPRO                                         8,093,854      462.65      434.00         37,446.22
MANAPPURAM                                    7,738,228      176.65      170.00         13,669.58
IDFCFIRSTB                                    7,205,089       88.45       88.35          6,372.90
BEL                                           7,181,720      174.80      170.65         12,553.65
NTPC                                          6,779,541      302.80      301.95         20,528.45

ASHOKLEY                                      6,156,035      172.00      169.35         10,588.38
SBIN                                          5,932,186      636.75      643.75         37,773.19
ITC                                           5,929,624      455.20      451.45         26,991.65
IEX                                           5,884,674      152.55      147.10          8,977.07
RBLBANK                                       5,724,721      272.45      275.50         15,597.00

POWERGRID                                     5,683,572      231.75      232.35         13,171.68
IOC                                           5,380,929      123.70      124.15          6,656.21
AXISBANK                                      5,380,107    1,088.30    1,095.40         58,551.70
BHEL                                          5,372,489      178.30      180.45          9,579.15
ZEEL                                          4,977,550      267.55      262.20         13,317.44

RELIANCE                                      4,785,411    2,565.05    2,562.55        122,748.18
BANDHANBNK                                    4,722,321      234.80      238.25         11,088.01
FEDERALBNK                                    4,597,413      154.00      153.95          7,080.02
TATAPOWER                                     4,578,872      326.65      328.55         14,956.89
NMDC                                          4,562,015      195.40      193.65          8,914.18

VEDL                                          4,398,723      259.75      255.95         11,425.68
PFC                                           4,349,170      386.90      388.85         16,826.94
ONGC                                          4,332,614      203.95      202.65          8,836.37
COALINDIA                                     4,310,924      363.25      355.50         15,659.43
BANKBARODA                                    4,214,180      223.60      224.85          9,422.91


In [317]:
sorted_df = bse_dely_data.sort_values(by='BSE_Delivery', ascending = False)
sorted_df

     BSE_Code    Date  BSE_Delivery
2321   532775  231222      37286463
2236   532636  231222      21655090
2244   532648  231222      14582156
2352   532822  231222      13268906
2877   539277  231222      13111183
...       ...     ...           ...
2728   538556  231222             1
3399   543106  231222             1
4158   954311  231222             1
4160   958406  231222             1
316    517431  231222             1

[4197 rows x 3 columns]

In [318]:
m_segment = final_master_file[final_master_file['Segment'] == "SM"]
m_segment

Empty DataFrame
Columns: [Date, Company Name, NSE_Code, BSE_Code, Total_Volume, Total_Delivery, Price, PrevClose, Total_Traded_Value, NSE_Volume, NSE_Delivery, BSE_Volume, BSE_Delivery, Segment]
Index: []

In [319]:
sme_value_50

,Date,Company Name,NSE_Code,BSE_Code,Total_Volume,Total_Delivery,Price,PrevClose,Total_Traded_Value,NSE_Volume,NSE_Delivery,BSE_Volume,BSE_Delivery,Segment
203,231222,S J Logistics,SJLOGISTIC,,786000,"660,000",174.10,165.90,"1,149.06",786000.0,660000.0,0.0,0.0,ST
120,231222,Phantom Digital Effects Ltd.,PHANTOMFX,,271200,"170,400",520.30,479.95,886.59,271200.0,170400.0,0.0,0.0,SM
301,231222,Insolation Energy Ltd.,543620,543620,120500,"120,500",696.20,677.50,838.92,0.0,0.0,120500.0,120500.0,MT
195,231222,Rocking Deals Circular Economy,ROCKINGDCE,,382000,"229,000",331.90,276.60,760.05,382000.0,229000.0,0.0,0.0,SM
20,231222,Basilic Fly Studio,BASILIC,,327600,"242,400",301.95,284.85,731.93,327600.0,242400.0,0.0,0.0,SM
309,231222,Droneacharya Aerial Innovation,543713,543713,625000,"388,000",185.75,196.25,720.71,0.0,0.0,625000.0,388000.0,M
200,231222,Accent Microcell Limited,ACCENTMIC,,251000,"228,000",288.55,279.20,657.89,251000.0,228000.0,0.0,0.0,ST
184,231222,Vinyas Innovative Technologies,VINYAS,,102400,"64,800",735.55,639.95,476.64,102400.0,64800.0,0.0,0.0,SM
114,231222,Oriana Power Limited,ORIANA,,136500,"84,000",501.80,506.65,421.51,136500.0,84000.0,0.0,0.0,SM
142,231222,Sahana System Ltd.,SAHANA,,96000,"65,000",617.10,589.45,401.12,96000.0,65000.0,0.0,0.0,SM
78,231222,Kundan Edifice,KEL,,184800,"138,000",252.30,265.10,348.17,184800.0,138000.0,0.0,0.0,SM
30,231222,Varanium Cloud Ltd.,CLOUD,,619000,"337,000",101.95,102.45,343.57,619000.0,337000.0,0.0,0.0,SM
110,231222,Network People Services Techno,NPST,,14400,"13,900","2,206.15","2,101.10",306.65,14400.0,13900.0,0.0,0.0,ST
359,231222,Amic Forging Limited,544037,544037,76000,"71,000",353.05,351.05,250.67,0.0,0.0,76000.0,71000.0,M
160,231222,Spectrum Talent Management Ltd,SPECTSTM,,229600,"209,600",114.65,108.35,240.31,229600.0,209600.0,0.0,0.0,SM
355,231222,Kalyani Cast Tech Limited,544023,544023,79000,"54,000",406.15,396.15,219.32,0.0,0.0,79000.0,54000.0,M
259,231222,Gretex Corporate Services Ltd.,543324,543324,190350,"71,685",303.50,290.05,217.56,0.0,0.0,190350.0,71685.0,M
7,231222,All E Technologies Ltd.,ALLETEC,,160000,"78,400",256.75,263.35,201.29,160000.0,78400.0,0.0,0.0,SM
136,231222,Rachana Infrastructure Ltd.,RILINFRA,,226500,"225,100",88.00,87.15,198.09,226500.0,225100.0,0.0,0.0,SM
347,231222,Meson Valves Limited,543982,543982,38400,"38,400",502.80,478.90,193.08,0.0,0.0,38400.0,38400.0,M
197,231222,Marinetrans India Ltd,MARINETRAN,,752000,"452,000",38.45,35.55,173.79,752000.0,452000.0,0.0,0.0,SM
216,231222,Waaree Technologies Ltd.,539337,539337,24150,"24,150",695.60,662.50,167.99,0.0,0.0,24150.0,24150.0,MT
61,231222,HiGreen Carbon,HIGREEN,,184000,"92,800",180.80,185.85,167.78,184000.0,92800.0,0.0,0.0,SM
27,231222,Cellcor Gadgets,CELLECOR,,94800,"61,200",264.20,266.30,161.69,94800.0,61200.0,0.0,0.0,SM
86,231222,Krishna Defence and Allied Ind,KRISHNADEF,,55000,"39,000",382.15,376.70,149.04,55000.0,39000.0,0.0,0.0,SM
201,231222,Presstonic Engineering Limited,PRESSTONIC,,115200,"112,000",131.65,131.25,147.45,115200.0,112000.0,0.0,0.0,ST
148,231222,Service Care Limited,SERVICE,,250000,"248,000",59.00,55.00,146.32,250000.0,248000.0,0.0,0.0,SM
218,231222,RMC Switchgears Ltd.,540358,540358,24375,"24,375",578.75,578.00,141.07,0.0,0.0,24375.0,24375.0,MT
81,231222,Kody Techno,KODYTECH,,37600,"32,800",428.45,400.00,140.53,37600.0,32800.0,0.0,0.0,SM
345,231222,Bondada Engineering Limited,543971,543971,42400,"35,200",391.75,392.90,137.90,0.0,0.0,42400.0,35200.0,M
10,231222,Annapurna Swadisht Ltd.,ANNAPURNA,,46500,"41,000",323.80,330.20,132.76,46500.0,41000.0,0.0,0.0,SM
134,231222,Remus Pharmaceuticals Ltd.,REMUS,,2700,"1,875","7,060.00","6,605.60",132.38,2700.0,1875.0,0.0,0.0,SM
185,231222,VishnuSurya Infra,VISHNUINFR,,30000,"30,000",428.40,408.00,128.52,30000.0,30000.0,0.0,0.0,SM
230,231222,Taylormade Renewables Ltd.,541228,541228,20000,"15,400",729.90,695.15,112.40,0.0,0.0,20000.0,15400.0,M
55,231222,Giriraj Civil Developers Ltd.,GIRIRAJ,,29500,"29,500",360.05,342.95,106.21,29500.0,29500.0,0.0,0.0,ST
335,231222,Cosmic CRF Ltd.,543928,543928,38000,"25,600",413.70,406.50,105.91,0.0,0.0,38000.0,25600.0,M
13,231222,Arihant Academy Ltd.,ARIHANTACA,,73600,"59,200",173.55,182.05,102.74,73600.0,59200.0,0.0,0.0,SM
139,231222,ROX Hitech Limited,ROXHITECH,,80000,"64,000",159.15,152.10,101.86,80000.0,64000.0,0.0,0.0,SM
198,231222,Sheetal Universal Limited,SHEETAL,,134000,"134,000",75.20,71.65,100.77,134000.0,134000.0,0.0,0.0,ST
294,231222,Virtuoso Optoelectronics Ltd.,543597,543597,60000,"42,500",233.35,232.25,99.17,0.0,0.0,60000.0,42500.0,M
29,231222,Chavda Infra,CHAVDA,,126000,"120,000",80.10,81.95,96.12,126000.0,120000.0,0.0,0.0,SM
242,231222,Northern Spirits Ltd.,542628,542628,32500,"26,500",356.50,379.50,94.47,0.0,0.0,32500.0,26500.0,M
144,231222,SAR Televenture Ltd,SARTELE,,72000,"54,000",171.35,167.00,92.53,72000.0,54000.0,0.0,0.0,SM
232,231222,Indo US Bio-Tech Ltd.,541304,541304,46500,"37,500",239.00,240.90,89.62,0.0,0.0,46500.0,37500.0,M
75,231222,Karnika Industries Limited,KARNIKA,,86400,"67,200",121.95,123.70,81.95,86400.0,67200.0,0.0,0.0,SM
167,231222,Systango Technologies Ltd.,SYSTANGO,,41200,"31,200",262.30,261.05,81.84,41200.0,31200.0,0.0,0.0,SM
199,231222,Graphisads Limited,GRAPHISAD,,104400,"100,800",80.80,85.05,81.45,104400.0,100800.0,0.0,0.0,ST
83,231222,Kotyark Industries Ltd.,KOTYARK,,11600,"8,400",954.90,941.50,80.21,11600.0,8400.0,0.0,0.0,SM
360,231222,Benchmark Computer Solutions L,544052,544052,100000,"100,000",73.27,77.12,73.27,0.0,0.0,100000.0,100000.0,MT
261,231222,Prevest Denpro Ltd.,543363,543363,23200,"17,200",420.85,417.95,72.39,0.0,0.0,23200.0,17200.0,M